@import url(./__form/popup__form.css);
@import url(./__title/popup__title.css);
@import url(./__item/popup__item.css);
@import url(./__item/_job/popup__item_job.css);
@import url(./__item/_name/popup__item_name.css);
@import url(./__save/popup__save.css);
@import url(./__close/popup__close.css);
@import url(./__container/popup__container.css);

.popup {
    max-width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    display: none;
}