.page {
    background-color: #000;
    margin: 0 auto;
    padding: 0 199px;
    max-width: 1280px;
    min-width: 300px;
    box-sizing: border-box;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
}

@media screen and (max-width: 1280px) {
    .page {
        padding: 0 195px;
    }
}

@media screen and (max-width: 1024px) {
    .page {
      padding: 0 100px;
    }  
}

@media screen and (max-width: 782px) {
 .page {
    padding: 0 48px;
 }
}

@media screen and (max-width: 676px) {
    .page {
        padding: 0 38px;
    }
}

@media screen and (max-width: 365px) {
    .page {
        padding: 0 19px;
    }
}