.page {
    background-color: #000;
    margin: 0 auto;
    padding: 0 199px;
    max-width: 1280px;
    box-sizing: border-box;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
}