.popup__container {
    max-width: 430px;
    padding: 36px;
    margin: 19px;
    color: #000;
    background-color: #FFF;
    -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    position: relative;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    opacity: 1;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
}