@import url(./__info/profile__info.css);
@import url(./__avatar/profile__avatar.css);
@import url(./__edit/profile__edit.css);
@import url(./__name/profile__name.css);
@import url(./__job/profile__job.css);
@import url(./__add/profile__add.css);

.profile {
    margin: 0 auto 48px;
    padding-top: 37px;
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 1025px) {
    .profile {
        flex-direction: column;
        justify-content: center;
        justify-items: center;
    }
}