.element__title {
    margin: 0;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
}