.main {
    padding: 0;
}

@media screen and (max-width: 500px) {
    .main {
        padding-left: 19px;
        padding-right: 19px;
    }
}

@media screen and (max-width: 319px) {
    .main {
        padding-left: 5px;
        padding-right: 5px;
    }
}