.main {
    padding: 0;
    min-width: 300px;
}

@media screen and (max-width: 500px) {
    .main {
        padding-left: 19px;
        padding-right: 19px;
    }
}

@media screen and (max-width: 340px) {
    .main {
        padding-left: 0;
        padding-right: 0;
    }
}