.pop-up__item {
    border: 0;
    width: 78%;
    height: 24px;
    box-sizing: border-box;
    border-bottom: 1px solid #bcbcc4;
    background-color: transparent;
    margin: 5px auto;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    font-family: inherit;
}