@import url(./__form/pop-up__form.css);
@import url(./__first-name/pop-up__first-name.css);
@import url(./__bio/pop-up__bio.css);
@import url(./__save/pop-up__save.css);

.pop-up {
    max-width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}