@import url(./__form/pop-up__form.css);
@import url(./__first-name/pop-up__first-name.css);
@import url(./__bio/pop-up__bio.css);
@import url(./__save/pop-up__save.css);

.pop-up {
    max-width: 100%;
    position: relative;
    top: 0;
    left: 0;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}