@import url(./__logo/header__logo.css);

.header {
    max-width: 882px;
    margin: 0 auto 37px;
    padding-top: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: start;
    border-bottom: 1px solid #545454;
}

@media screen and (max-width: 953px) {
    .header {
        padding: 28px 27px 0;
    }
}