@import url(./__logo/header__logo.css);

.header {
    padding: 41px 0 45px;
    margin: 0 auto;
    border-bottom: 1px solid #545454;
}

@media screen and (max-width: 953px) {
    .header {
        padding: 28px 0 27px;
    }
}

@media screen and (max-width: 500px) {
    .header {
        padding: 28px 0 28px;
        max-width: 500px;
    }
}