.elements {
    max-width: 882px;
    margin: 0 auto;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 18px;
    /* grid-template-columns: repeat(auto-fit, minmax(282px, 1fr)); 
    grid-template-rows: repeat(auto-fit, minmax(282px, 1fr));
    grid-gap: 18px;
    grid-auto-rows: 1fr 1fr;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; */
}