.elements {
    margin: 0 auto;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, 282px); 
    grid-template-rows: repeat(2, 362px);
    grid-gap: 18px;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: center;
}

