.profile__add {
    width: 150px;
    height: 50px;
    margin-left: auto;
    background-color: #000;
    background-image: url(../../../images/plus.svg);
    background-position: center;
    background-repeat: no-repeat;
    justify-self: end;
    align-self: center;
}