.popup__close {
    width: 40.5px;
    height: 40.5px;
    position: absolute;
    padding: 0;
    right: -50px;
    top: -50px;
    /*grid-column: 2 / span 3;
    grid-row: 1 / 2;
    align-self: end; */
    border: none;
    background-color: rgba(0, 0, 0, 0);;
    background-image: url('../../../images/close_icon.svg');
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.3s ease-in-out;
}

.popup__close:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .popup__close{
        right: -14px;
        top: -60px;
}
