.profile__name {
    font-weight: 500;
    font-size: 42px;
    line-height: 56px;
    white-space: nowrap;
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    display: block;
    overflow: hidden
}

@media screen and (max-width: 1128px) {
    .profile__name {
        font-weight: 500;
        font-size: 32px;
        line-height: 56px;
    }
}

@media screen and (max-width: 778px) {
    .profile__name {
        font-weight: 500;
        font-size: 27px;
        text-align: center;
    }
}

@media screen and (max-width: 500px) {
    .profile__name {
        align-self: end;
        justify-self: end;
    }
}