.profile__avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

@media screen and (max-width: 1025px) {
    .profile__avatar {
        justify-self: center;
        margin: 0 auto;
    }
}