.profile__info {
    margin-left: 30px;
    max-width: 100%;
    color: #fff;
    font-family: Inter;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    display: grid;
    grid-template-columns: minmax(0px, min-content) minmax(0px, min-content);
    grid-template-rows: 2(min-content);
    align-items: center;
    align-self: center;
}