@import url(./__copyright/footer__copyright.css);

.footer {
    background-color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: center;
        align-content: center;
    margin: 0 auto;
    padding: 66px 0 60px;
} 

@media screen and (max-width: 500px) {
    .footer {
        padding: 36px 0 31px;
    }
}