@import url(./__photo/element__photo.css);
@import url(./__title/element__title.css);
@import url(./__like/element__like.css);
@import url(./__description/element__description.css);

.element {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

/* Большое спасибо за помощь :) */