.pop-up__save {
  width: 78%;
  height: 50px;
  font-size: 18px;
  line-height: 22px;
  border: 0;
  margin: 48px auto 36px;
  padding-bottom: 5px;
  cursor: pointer;
  transition: opacity .4s;
  background-color: #000;
  color: white;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}