.popup__item {
    border: 0;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-bottom: 1px solid #bcbcc4;
    background-color: transparent;
    margin: 5px auto;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    font-family: inherit;
}