.popup__title {
    max-width: 330px;
    /* padding-left: 36px;
    padding-right: 70px;
    margin: 34px auto 54px; */
    margin-top: 0;
    margin-bottom: 34px;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
}