.profile__job {
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    align-self: start;
    margin-top: 8px;
}

@media screen and (max-width: 1025px) {
    .profile__job {
        text-align: center;
    }
}

@media screen and (max-width: 778px) {
    .profile__job {
        font-size: 14px;
        line-height: 17px;
    }
}

@media screen and (max-width: 500px) {
    .profile__job {
        margin: 0;
        align-self: end;
        text-align: right;
    }
}