.profile__job {
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    align-self: start;
}

@media screen and (max-width: 1025px) {
    .profile__job {
        text-align: center;
    }
}

@media screen and (max-width: 778px) {
    .profile__job {
        font-size: 14px;
        line-height: 17px;
    }
}